<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--插入代码片段(已包含JQuery)-->
<head th:include="common/head :: head"></head>
<!--引入zTree组件-->
<link rel="stylesheet" th:href="@{/static/js/plugins/zTree_v3/zTreeStyle.css}" type="text/css">
<script type="text/javascript" th:src="@{/static/js/plugins/zTree_v3/jquery.ztree.core.js}"></script>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content" style="width: 98%;">
            <!--展示数据的标签 通过#treeDemo cs选择器指定-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>

        </div>
    </div>
</div>
<script th:inline="javascript">

    $(function(){
        // 文档地址:http://www.treejs.cn/v3/demo.php#_108
        var setting = {
            async: {    //异步的
                enable: true,   //启用异步方式加载树结构
                url:"/dict/findZnodes", //指定请求地址，获取数节点数据
                type:"get",     //请求方式
                //id为数节点的主键，作为参数发送
                autoParam:["id"],   //传递树节点的属性值给服务器，属性名称固定
                //otherParam:{"otherParam":"zTreeAsyncTest"},  其他参数，属性名自定义
                dataFilter: filter
            }
        };
        //对返回的数据进行过滤  result 表示controller方法返回的结果，将数据封装到result对象中
        function filter(treeId, parentNode, result) {
            var childNodes = result.data
            if (!childNodes) return null;   //如果为空，取空
            for (var i=0, l=childNodes.length; i<l; i++) {
                //将多个.n替换为. 赋值给name
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }
        //zTree初始化，将数据渲染到1d=treeDemo标签内
        $(document).ready(function(){
            //在treeDemo标签中初始化zTree，通过setting发起请求
            $.fn.zTree.init($("#treeDemo"), setting);
        });
    });
</script>
</body>
</html>